---
layout: news
title: Gallery
subtitle: Gallery in ZhouSun Lab
permalink: /gallery
css:
  - "/assets/css/lightgallery_css_lg-exif.min.css"
  - "/assets/css/lightgallery_css_lightgallery.css"
js:
  - "/assets/js/lightgallery_js_lg-exif.min.js"
  - "/assets/js/lightgallery_js_lightgallery-all.min.js"

---

<h1>Gallery</h1>
<hr class="large">
<h3>2023</h3>
<ul>
    {% assign count = 0 %}
    {% for pic in range (1, 10) %}
        {% if os.path.exists('assets/img/gallery/20230603/'+pic+'.JPG')  %}
            <img class="picture lazy" data-original="assets/img/gallery/20230603/{{pic}}.JPG" src="static/images/pictures/20230604/3.JPG" style="display: table-caption;">
        {% endif %}
    {% endfor %}
</ul>
<hr class="large">




